.contact-arrow{
  background-color: $color-1;
  width: 2px;
  height: 100px;
  margin: -30px auto 40px;
  position: relative;
  @include media-breakpoint-down(sm) {
    height: 50px;
    margin-left: 10px;
  }
  &:after{
    content: "";
    height: 15px;
    width: 15px;
    border-right: solid 2px $color-1;
    border-bottom: solid 2px $color-1;
    position: absolute;
    bottom: -5px;
    left: -1px;
    transform: rotate(45deg) translateX(-50%);
  }
}