/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  text-indent: -9999px;
  overflow: hidden;
  background: url(img/icons/arrow.svg) no-repeat center center;
  border: none;
  height: 20px;
  width: 80px;
  position: absolute;
  right: -145px;
  top: 60%;
  transform: translateY(-50%);
  @include transition(all);
  &:hover {
    transform: translateY(-50%) scale(1.1);
  }
  &.owl-prev {
    right: auto;
    left: -145px;
    transform: translateY(-50%) rotate(-180deg);
    &:hover {
      transform: translateY(-50%) rotate(-180deg) scale(1.1);
    }
  }
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 30px;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: none;
  border: 0;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #000;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-1;
}
