.banner-contact {
  background: url(img/banner-contact.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 30px 0;
    h2{
      font-size: 32px;
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }
  h2 {
    color: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}
