.btn {
  background: $color-1;
  border-radius: 20px;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 0.5rem 0;
  padding: 12px 40px;
  width: auto;
  text-decoration: none;
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  @include transition(all);
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
  &:hover {
    background-color: $color-2;
    color: #FFF !important;
  }
  &.blue {
    background-color: $color-1;
    color: #FFF !important;
    border:none;
    &:hover {
      background-color: #FFF;
      color: $color-1 !important;
      .arrow{
        &:before{
          background-color: $color-1;
        }
        &:after{
          border-color: $color-1;
        }
      }
    }
  }
  &.white {
    background-color: #fff;
    color: $color-1;
    &:hover {
      background-color: $color-2;
      color: #FFF !important;
    }
  }
  &:visited,
  &:focus {
    text-decoration: none;
  }
}
