.case-numbers{
  background-color: #000;
  color:#FFF;
  padding: 100px 0px;
  &__icon{
    display: inline-block;
    height: 50px;
    margin-bottom: 20px;
    svg{
      height: 50px;
      display: inline-block;
    }
  }
}
.case-logo{
  margin-bottom: 150px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;
  }
}