footer {
  position: relative;
  background: $color-gray;
  color: #fff;
  font-family: $font-family-2;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  p, label{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .copyright {
    background: $color-dark-gray;
    padding: 20px 0;
    color:#777;
    p {
      margin: 0px;
      font-size: 12px;
    }
  }
  h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    @include media-breakpoint-down(sm) {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #ccc;
    }
  }
  input[type=submit]{
    position: absolute;
    bottom: -5px;
    border: solid 1px #FFF;
    border-radius: 0px;
    background-color: transparent;
    right: 0px;
    margin: 10px 0;
    width: 60px;
    height: 54px;
    color: #FFF;
    text-indent: -9999px;
    background: url(img/icons/arrow-white.svg) no-repeat center;
  }
  .wpcf7-form div.wpcf7-response-output {
    background-color: transparent !important;
    position: absolute;
    top: 100%;
    padding: 0px !important;
    font-size: 12px;
    line-height: 15px;
    margin: 0px !important;
  }
  span.wpcf7-not-valid-tip{
    display: none !important;
  }
  .social-links {
    li {
      display: inline-block;
      margin: 0 5px;
      a:before {
        font-size: 22px;
      }
    }
    path {
      fill: #FFF;
      @include transition();
    }
    a {
      &:hover {
        path {
          fill: #ccc;
        }
      }
    }
  }
}
#footer-menu {
  @include media-breakpoint-down(sm) {
    margin: 20px 0 0;
  }
  .menu-item {
    margin: 0 0 5px;
    @include media-breakpoint-down(sm) {
      width: 100% !important;
      margin-left: 0px !important;
      float: none;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
  .sub-menu{
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    a{
      font-size: 14px;
    }
  }
}
