input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea {
  width: 100%;
  padding: 10px 15px 10px;
  border: 1px solid #FFF;
  border-radius: 0px;
  margin: 5px 0;
  font-size: 1rem;
  color: #000;
  font-family: $font-family-1;
  font-weight: 300;
  position: relative;
  background: #FFF;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #000;
  }
  input-placeholder {
    color: #000;
  }
  @include media-breakpoint-down(md) {

  }
  &:focus {
    background-color:#ffffff17;
    color: #000;
  }
  &.transparent {
    background-color: transparent;
  }
  &.dark {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
  }
  &.dark-gray {
    background-color: $color-dark-gray;
    border: none;
    color: #fff;
  }
  &.search {
    background: url(img/icons/lupa.svg) no-repeat 95% center #fff;
  }
}
label {
  position: relative;
  width: 100%;
  .label {
    color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 15px;
    @include media-breakpoint-down(md) {
      font-size: 11px;
      top: 0px;
      left: 10px;
      line-height: 20px;
    }
  }
}
textarea {
  height: 200px;
  font-weight: 300;
}

select {
  background-image: url(img/icons/purple-key-down.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: #fff;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 12px;
  color: #000;
  font-size: 16px;
  margin: 5px 0;
  -webkit-appearance: none;
  font-weight: 300;
}
input[type='submit'], .btn-submit {
  background-color: $color-1;
  background-image: url(img/icons/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: 80% center;
  font-size: 1rem;
  padding: 15px 0;
  width: 400px;
  max-width: 100%;
  color: #FFF;
  margin: 35px auto;
  border: none;
  display: block;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  @include transition(all);
  &:hover {
    text-decoration: none;
    background-color: $color-2;
    color: #FFF;
  }
}
input,
select,
textarea {
  font-family: $font-family-1;
}
form {
  position: relative;
}
body {
  div.wpcf7-response-output {
    padding: 15px 30px !important;
    margin: 0px 0 20px !important;
    border: none !important;
    width: 100%;
    text-align: center;
    color: #fff;
    left: 0px;
    top: 0px;
    background: $color-1;
    width: 100%;
    @include media-breakpoint-down(md) {
      top: auto;
      bottom: 85%;
      line-height: 18px;
      padding: 15px 15px !important;
    }
  }
  .wpcf7-form.invalid  div.wpcf7-response-output{
    background-color: #bf4d4d;
  }

  div.wpcf7-mail-sent-ok {
    border: none;
    background-color: $color-4;
    color: #fff;
  }

  div.wpcf7-validation-errors {
    border: none;
    background-color: $color-3;
    color: #fff;
  }
  span.wpcf7-not-valid-tip {
    color:#bf4d4d;
    font-style: italic;
    position: absolute;
    left: 5px;
    bottom: 10px;
    font-size: 13px;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    line-height: 1rem;
  }
  .wpcf7-form-control-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .wpcf7-spinner {
    display: none;
    bottom: -30px;
    position: absolute;
  }
  .submitting {
    .wpcf7-spinner {
      display: block;
    }
  }
}
