body {
  font-family: $font-family-1;
  color: #000;
  padding-top: $header-height;
  -webkit-font-smoothing: antialiased;
  @include media-breakpoint-down(md) {
    padding: 80px 0 0;
  }
}

a {
  @include transition(all);
  &:hover {
    color: $color-1;
    text-decoration: none;
  }
}
p {
  line-height: 26px;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  @include media-breakpoint-down(md) {
    line-height: 24px;
    font-size: 16px;
  }
}
.section-y{
  padding: 100px 0;
}
blockquote {
  background-color: #f5f4f2;
  margin: 50px 10px;
  position: relative;
  padding: 30px 10%;
  p {
    line-height: 27px;
    font-weight: 400;
    font-size: 16px;
  }
  &:before {
    content: '“';
    width: 70px;
    height: 70px;
    background: url(img/icons/balloon-green.svg) no-repeat 0 0;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    font-size: 60px;
    line-height: 70px;
    color: $color-5;
    font-weight: bold;
    text-align: center;
    @include media-breakpoint-down(xs) {
      left: -5px;
    }
  }
}

.bold,
b {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.thin {
  font-weight: 100;
}
.normal {
  font-weight: normal;
}
.light {
  font-weight: 200;
}
.book {
  font-weight: 300;
}
.border-radius {
  @include border-radius(10px);
}
.nowrap {
  white-space: nowrap;
}

h1,
h2, h3 {
  font-weight: 400;
}
h1 {
  margin-bottom: 20px;
  font-size: 56px;
  line-height: 50px;
  font-weight: 600;
  @include media-breakpoint-down(sm) {
    font-size: 38px;
    line-height: 40px;
  }
}
h2 {
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 50px;
  font-weight: 600;
  @include media-breakpoint-down(sm) {
    font-size: 38px;
    line-height: 40px;
  }
}
h3 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 28px;
    line-height: 32px;
  }
}
.color-white {
  color: #fff;
}
.color-black {
  color: $color-black;
}
.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3;
}
.color-4 {
  color: $color-4;
}
.color-5 {
  color: $color-5;
}
.color-6 {
  color: $color-6;
}
.color-7 {
  color: $color-7;
}

picture{
  max-width: 100%;
  display: inline-block;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  img{
    width: 100%;
    object-fit: cover;
  }
}

.l-spacing-1 {
  letter-spacing: 1px;
}
.l-spacing-2 {
  letter-spacing: 2px;
}
.l-spacing-3 {
  letter-spacing: 3px;
}

.bg-color-1 {
  background-color: $color-1;
}
.bg-color-2 {
  background-color: $color-2;
  a:hover {
    color: $color-2;
  }
}
.bg-color-3 {
  background-color: $color-3;
}
.bg-color-4 {
  background-color: $color-4;
}
.bg-color-5 {
  background-color: $color-5;
}
.bg-color-6 {
  background-color: $color-6;
}
.bg-color-7 {
  background-color: $color-7;
}
.bg-color-8 {
  background-color: $color-8;
}
.bg-color-white {
  background-color: white;
}
.bg-color-black {
  background-color: black;
}
.bg-color-transparent {
  background-color: transparent !important;
}
.bg-color-white-semi-transparent {
  background-color: white;
}
.bg-color-light-gray {
  background-color: $color-light-gray;
}
.bg-color-gray {
  background-color: $color-gray;
}
.bg-color-dark-gray {
  background-color: $color-dark-gray;
}

.bg-overlay {
  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    opacity: 0.5;
  }
}
.pt-6 {
  padding-top: 3.5rem !important;
}
.pt-7 {
  padding-top: 4rem !important;
}
.pt-8 {
  padding-top: 4.5rem !important;
}
.pt-9 {
  padding-top: 5rem !important;
}
.pt-10 {
  padding-top: 6.5rem !important;
}

.py-6 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}
.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.py-8 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.py-9 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.py-10 {
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
  @include media-breakpoint-down(sm) {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;  
  }
}

.my-6 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}
.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.my-8 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}
.my-9 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.my-10 {
  margin-top: 6.5rem !important;
  margin-bottom: 6.5rem !important;
  @include media-breakpoint-down(sm) {
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;  
  }
}

.m-center {
  margin: 0 auto;
}
.cursor-default {
  cursor: default !important;
}

.bb-black {
  border-bottom: solid 1px black;
}
.b-black {
  border: solid 1px #000 !important;
}

.anim-element {
  visibility: hidden !important;
}
.animated {
  visibility: visible !important;
}

.pagination {
  a,
  span {
    color: $color-5;
    padding: 10px 15px;
    margin: 50px 5px;
    &.current {
      color: #fff;
      background-color: #000;
    }
    &:hover {
      color: #fff;
      background-color: #000;
    }
    &.next,
    &.prev {
      display: none;
      margin: 10px 20px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(img/icons/dark-key.svg) no-repeat center center;
      height: 48px;
      width: 48px;
      border: solid 2px #2d395a;
      border-radius: 100%;
      position: relative;
      top: 30px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.prev {
      transform: rotate(-180deg);
      &:hover {
        transform: rotate(-180deg) scale(1.1);
      }
    }
  }
}
.heateor_sss_sharing_ul {
  display: inline-block;
  text-align: center;
}
.collapsing {
  transition: opacity 0.15s linear;
}
.round-icon{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
  svg{
    width: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    path{
      fill:#FFF;
    }
  }
}