header {
  position: fixed;
  padding: 15px 0;
  backface-visibility: hidden;
  background-color: #fff;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 999;
  width: 100%;
  top: 0px;
  box-shadow: #00000026 1px 3px 10px 0px;
  @include transition(all);
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
  &.reduced {
    padding: 5px;
    @include media-breakpoint-down(md) {
      padding: 15px 0;
    }
    .logo {
      svg {
        @include media-breakpoint-down(md) {
          height: 55px;
        }
      }
    }
  }
  .logo-section {
    &:hover {
      opacity: 0.5;
    }
  }
  .logo {
    position: relative;
    left: 0px;
    @include transition(all);
    svg {
      @include transition(all);
      path{
        fill: $color-1;
        @include transition(all);
      }
    }
    &:hover{
      svg{
        path{
          fill: $color-2;
        }
      }
    }
    @include media-breakpoint-down(md) {
      svg {
        height: 55px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    transition: all 0.4s;
    position: fixed;
    height: 80px;
    width: 100%;
  }
  &.open {
    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }
}
#primary-menu {
  position: relative;
}
#main-menu {
  padding: 0px;
  text-align: center;
  margin: 0px;
  .menu-item {
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
    &.current-menu-item > a,
    &.current-menu-ancestor > a {
      color: $color-1;
    }
    &:hover{
      .sub-menu{
        opacity: 1;
        visibility: visible;
      }
    }
    .sub-menu{
      position: absolute;
      width: 300px;
      background-color: #FFF; 
      padding: 30px 20px 20px;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      @include transition();
      li{
        width: 100%;
        margin: 0px;
        a{
          display: inline-block;
          padding: 10px;
          width: 100%;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
  }
  a {
    font-family: $font-family-2;
    color: #000;
    font-size: 18px;
    outline: none;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  &--mobile {
    margin-top: 50px;
    padding: 0px;
    .menu-item {
      text-align: center;
      list-style: none;
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;
      &.current-menu-item > a,
      &.current-menu-ancestor > a {
        color: $color-1;
      }
      .sub-menu{
        padding: 20px 0 0;
        li{
          margin-bottom: 10px;
          a{
            text-transform: none;
            font-size: 14px;
          }
        }
      }
    }
    a {
      color: #000;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $color-1;
      }
    }
  }
}
.icon-menu-mobile {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 3px 7px;
  position: relative;
  &__line {
    background-color: #000;
    border-radius: 2px;
    display: block;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    position: absolute;
    top: 14px;
    @include transition();
    &:before {
      content: '';
      background-color: #000;
      border-radius: 2px;
      display: block;
      height: 3px;
      width: 25px;
      position: absolute;
      top: -8px;
      @include transition();
    }
    &:after {
      background-color: #000;
      border-radius: 2px;
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      position: absolute;
      bottom: -8px;
      @include transition();
    }
  }
  &.close {
    .icon-menu-mobile__line {
      background-color: transparent;
      &:before {
        top: 0px;
        transform: rotate(-45deg);
      }
      &:after {
        top: 0px;
        transform: rotate(45deg);
      }
    }
  }
}