.highlights {
  height: 500px;
  width: 100%;
  display: block;
  background-color: $color-1;
  position: relative;
}
.highlight-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.highlights-images{
  height: 500px;
  display: inline-block;
  width: 100%;
}
.highlight {
  height: 500px;
  width: 100%;
  background: url(img/destaque.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  &-small{
    height: 400px;
  }
  &:before{
    content:"";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
  }
  &__content {
    margin-bottom: 100px;
    color: #fff;
    h2 {
      font-size: 85px;
      font-weight: 600;
      text-transform: lowercase;
      @include transition();
      @include media-breakpoint-down(sm) {
        font-size: 62px;
      }
      &:hover {
        letter-spacing: 1px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      @include media-breakpoint-down(sm) {
        font-size: 32px;
      }
      &:hover {
        &:after {
          right: 50px;
        }
      }
    }
  }
  h1{
    position: relative;
    z-index: 10;
  }
}