.post-single{
	&__highlight{
		img{
			height: 400px;
			object-fit: cover;
		}
	}
	h2{
		font-size: 35px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
	}
	h3{
		margin-bottom: 20px;
    margin-top: 30px;
	}
	a{
		color:$color-1;
	}
}