.home-uniform{
  text-decoration: none;
  color:#FFF;
  background-size: cover;
  display: inline-block;
  width: 100%;
  padding: 100px 0px;
  position: relative;
  cursor: pointer;
  &:before{
    content:"";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    @include transition();
  }
  &:hover{
    &:before{
      background-color: $color-3;
      opacity: 0.6;
    }
  }
  h3{
    position: relative;
    z-index: 5;
    font-weight: 600;
    color: #FFF!important;
    text-shadow: 2px 3px 13px rgb(0 0 0 / 54%);
  }
}
.uniform-item{

  &__icon{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: $color-2;
  position: relative;
  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
  }
  svg{
    position: absolute;
    top: 50%;
    left:50%;  
    width: 40px;
    transform: translateX(-50%) translateY(-50%);
    @include media-breakpoint-down(sm) {
      width: 25px;
    }
    path{
      fill:#FFF;
    }
  }
}
  h3{
    margin: 0px;
  }
  p{
    margin: 0px;  
  }
}
.box-items{
  padding: 100px 0;
  &__item{
    background-color: #5c5d60;
    color:#FFF;
    height: 180px;
    padding: 10px;
    @include transition();
    @include media-breakpoint-down(sm) {
      height: auto;
      padding: 20px 0;
    }
    &:hover{
      background-color:$color-1;
    }
  }
}