$header-height: 99px;
$color-1: #57a19c; /*  */
$color-2: #7CE6D7; /*  */
$color-3: #e6d07c; /*  */
$color-4: #f7f0d4; /*  */
$color-5: #161204; /*  */
$color-6: #ec8952; /*  */
$color-7: #f2b743; /*  */
$color-8: #db5288; /*  */

$color-black: #000000;
$color-dark: #0d160b;
$color-dark-gray: #333333;
$color-gray: #5C5D60;
$color-light-gray: #E5E5E5;

$font-family-1: 'League Spartan', sans-serif;
$font-family-2: 'Poppins', sans-serif;
